* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #080810;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}
